.pay-option {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	position: relative;
}

.pay-option input[type="radio"] {
	display: none;
}

.pay-option img {
	width: 200px;
	border: 3px solid transparent;
	border-radius: 10px;
	transition: border-color 0.3s;
}

.pay-option input[type="radio"]:checked+img {
	border-color: #ffc107; /* 노란색 강조 */
}

.pay-label {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #333;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 3px 0;
	font-size: 16px;
	border-radius: 0 0 10px 10px;
}