<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<meta charset="UTF-8">
	<title>장바구니</title>
	<link th:href="@{/css/index.css}" rel="stylesheet" />
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/cart.css}" rel="stylesheet" />
</head>
<body data-useruuid="[[${#authentication.principal.userUUID}]]">
	<div layout:fragment="content">
		<div class="cart-container">
			<h2 id="store-name">가게 이름</h2>
			
			<div class="cart-empty" id="empty-cart" style="display: none;">
				<img src="/img/cart/empty_cart.png" alt="텅 빈 장바구니" class="empty-cart-img">
				<p class="empty-cart-msg">장바구니가 텅 비었어요</p>
			</div>
			<p th:if="${errorMessage}" th:text="${errorMessage}" class="error-msg"></p>
			<div class="cart-wrapper">
				<div class="carts">
					<div class="carts" id="cart-items-container">
						<!-- 여기에 JS가 cart 항목을 동적으로 추가 -->
					</div>
				</div>
			</div>
			<div class="order-summary" id="order-summary" style="display: none;">
				<p th:text="'결제금액: ' + ${totalPrice} + '원'"></p>
				<div class="order-buttons">
					<button id="clear-cart-btn">장바구니 비우기</button>
					<button id="order-btn" type="button" onclick="goToOrderPage()">주문하기</button>
				</div>
			</div>
			<div id="optionModal" class="modal" style="display: none;">
				<div id="option-modal-overlay" class="modal-overlay"></div>
				<div class="modal-content">
					<span class="close-btn">&times;</span>
					<h3 id="modal-menu-name">옵션 변경</h3>
					<form id="optionForm">
						<div id="optionList"></div>
						<input type="hidden" name="cartItemUuid" id="modal-cart-item-id">
						<button id="save-options-btn" type="button">옵션 저장</button>
					</form>
				</div>
			</div>
			
		</div>
	</div>
	<div layout:fragment="js">
		<script th:src="@{/js/index.js}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
		<script th:src="@{/js/cartStorage.js}"></script>
		<script th:src="@{/js/cart.js}"></script>
		<script th:src="@{/js/cartOptionModal.js}"></script>
	</div>
</body>
</html>