<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/Layouts}">

<head>
	<script th:src="@{/js/index.js}"></script>
	<link th:href="@{/css/login.css}" rel="stylesheet">
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
</head>

<body>
	<div layout:fragment="content">

		<div class="container d-flex justify-content-center">
			<div class="login-container col-12 col-md-8 col-lg-4 px-4">

				<h1>비밀번호&nbsp;찾기</h1>

				<div class="mb-3">
					<label class="loginLabels mb-1" for="email">이메일</label>

					<div class="row g-2 align-items-center">
						<div class="col-9">
							<input type="email" id="email" class="form-control" placeholder="가입한 이메일을 입력하세요" />
						</div>
						<div class="col-3">
							<!-- Bootstrap 기본 노란색: btn‑warning -->
							<button type="button" class="btn btn-warning w-100">
								발송
							</button>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label class="loginLabels mb-1" for="authCode">인증코드</label>

					<div class="row g-2 align-items-center">
						<div class="col-9">
							<input type="text" id="authCode" class="form-control" placeholder="숫자 6자리를 입력하세요" />
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-warning w-100">
								확인
							</button>
						</div>
					</div>
				</div>

				<div class="mb-2">
					<label class="loginLabels mb-1" for="newPw">새&nbsp;비밀번호</label>
					<input type="password" id="newPw" class="form-control" placeholder="새 비밀번호를 입력하세요" />
				</div>

				<div class="mb-3">
					<label class="loginLabels mb-1" for="newPwCheck">비밀번호&nbsp;확인</label>
					<input type="password" id="newPwCheck" class="form-control" placeholder="비밀번호를 한 번 더 입력하세요" />
				</div>

				<button type="submit" class="btn btn-warning fw-bold w-100 mb-3">
					비밀번호&nbsp;재설정
				</button>


				<div class="extra-links">
					<a th:href="@{/login}">로그인</a>
					<a th:href="@{/regAgreement}">회원가입</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>