<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
	<link th:fragment="css" th:href="@{/css/index.css}" rel="stylesheet"/>
	<link th:fragment="css" th:href="@{/css/custom.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src = "@{/js/index.js}"></script>	

</head>
<div layout:fragment="content" class="w-100">
  <div class="d-flex flex-column align-items-center px-5 w-100" sec:authorize="isAnonymous()">
    
    <!-- 검색창 전체 래퍼 -->
    <div id="search-wrapper" class="w-100 d-flex justify-content-center align-items-center mt-3">
      <!-- 주소 다시 입력 버튼 (처음엔 숨김) -->
      <button id="reenter-address-btn" class="btn btn-outline-secondary me-2" style="display:none;">주소 다시 입력</button>

      <div class="search">
        <input id="main-input" type="text" class="search-input" placeholder="배달받을 주소를 입력하세요">
        <a href="#" class="search-icon" id="main-btn"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>

	  	<div class="gallery-container">
			<div><a href="#" class="labels">패스트푸드</a><img class="imgs" th:src="@{/css/imgs/img1.png}"></div>
			<div><a href="#" class="labels">중식</a><img class="imgs" th:src="@{/css/imgs/img2.png}"></div>
			<div><a href="#" class="labels">한식</a><img class="imgs" th:src="@{/css/imgs/img3.png}"></div>
			<div><a href="#" class="labels">분식</a><img class="imgs" th:src="@{/css/imgs/img4.png}"></div>
			<div><a href="#" class="labels">치킨</a><img class="imgs" th:src="@{/css/imgs/img5.png}"></div>
			<div><a href="#" class="labels">피자</a><img class="imgs" th:src="@{/css/imgs/img6.png}"></div>
			<div><a href="#" class="labels">찜 탕</a><img class="imgs" th:src="@{/css/imgs/img7.png}"></div>
			<div><a href="#" class="labels">일식</a><img class="imgs" th:src="@{/css/imgs/img8.png}"></div>
			<div><a href="#" class="labels">구이</a><img class="imgs" th:src="@{/css/imgs/img9.png}"></div>
			<div><a href="#" class="labels">카페</a><img class="imgs" th:src="@{/css/imgs/img10.png}"></div>
		</div>
    </div>
<script th:if="${riderExists}">
    alert('이미 라이더로 등록된 사용자입니다.');
</script>
</html>