	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/myAddress.css}" rel="stylesheet">
	<script th:src="@{/js/zipcode.js}" defer></script>
	<script th:src="@{/js/myAddress.js}" defer></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<div layout:fragment="content" class="container py-5">
	<div class="card info-card p-4">
		<h5 class="card-title">
			내 주소
		</h5>
		<div class="card-body">
			<form>
				<div class="card">
					<div class="title">
						<strong>기본 주소</strong>
					</div>		
  					<div class="card-body">
    					<!-- <div class="form-check">
	  						<input class="form-check-input" type="radio" name="radioDefault" id="radioDefault" checked>
	  						<label class="form-check-label" for="radioDefault">
	    						<strong th:text="${#authentication.principal.user.userSelectedAddress.address}"></strong>
	    						<br>
	    						<strong th:text="${#authentication.principal.user.userSelectedAddress.detailAddress}"></strong>
	  						</label>
						</div> -->
						<strong th:text="${#authentication.principal.user.userSelectedAddress.address}"></strong>
	    				<br>
	    				<strong th:text="${#authentication.principal.user.userSelectedAddress.detailAddress}"></strong>
  					</div>
				</div>
				<th:block th:each="address : ${addressList}">
					<th:block th:if="${address.isUserSelectedAddress == false}">
						<div class="card">
						<div class="card-body">
							<div class="form-check">
			  					<input class="form-check-input" type="radio" name="radioDefault" th:id="'radioDefault' + ${addressStat.count}">
			  					<label class="form-check-label" th:for="'radioDefault' + ${addressStat.count}">
			    					<strong th:text="${address.address}"></strong>
			    					<br>
			    					<strong th:text=${address.detailAddress}></strong>
			  					</label>
							</div>
						</div>
					</div>
					</th:block>
				</th:block>
			</form>
			
			
			
			<a href="#" type="button" class="btn btn-success my-3" id="deleteAddress-btn">주소 삭제</a>
			<a href="regAddress" type="button" class="btn btn-success my-3" id="regAddress-btn">주소 등록</a>
		</div>
		<!-- <div class="address-search-container">
  				<input type="text" id="address-search-bar"	placeholder="주소검색"	/>
				oninput="fetchSearchResults(this.value)"  				
 			 <ul id="dropdown-results" class="dropdown-menu"></ul>
		</div> -->
	</div> 

<!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
		

</div>

</html>