<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/update.css}" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script th:src="@{/js/initialize.js}"></script>
	<script th:src="@{/js/update.js}"></script>
</head>

<div layout:fragment="content" class="container py-5">
	<div class="container text-center">
	<div class="alert alert-success" id="flash-messages" role="alert" th:if="${result} == 0">
		<i class="fa-solid fa-circle-check"></i>  <strong th:text="${resultMsg}"></strong>
	</div>
	<div class="alert alert-danger" id="flash-messages" role="alert" th:if="${result} == 1">
		<i class="fa-solid fa-circle-exclamation"></i>  <strong th:text="${resultMsg}"></strong>
	</div>
		<div class="row justify-content-md-center">
			<div class="col col-lg-2">
				<a type="button" class="btn btn-link position-relative" id="profile-pic-btn" data-bs-toggle="modal" data-bs-target="#updateProfilePicModal">
					
		<img th:src="${#strings.startsWith(#authentication.principal.user.userProfile, 'http') 
             ? #authentication.principal.user.userProfile 
             : '/img/userProfiles/' + #authentication.principal.user.userProfile}"
							class="rounded-circle img-thumbnail img-fluid"
							alt="Profile Picture" id="profile-pic">
					
					<span class="position-absolute top-100 start-50 translate-middle p-1 bg-light rounded-circle" id="profile-pic-update-btn">
	    				<i class="fa-solid fa-pen-to-square"></i>
	  				</span>
				</a>
			</div>
			<div class="col col-lg-2">
				<h5 id="profile-nickName"
					th:text="${#authentication.principal.user.nickName}"></h5>
				<span
					class="badge rounded-pill text-bg-primary justify-content-center"
					th:text="${#authentication.principal.user.UserRole}"></span>
			</div>
			<div class="col col-lg-2"></div>
		</div>
	</div>
	<br>
	<div class="card info-card p-4">
		<h5 class="card-title">
			기본 정보 <span class="mypage-title-icon"><i class="fa-solid fa-circle-info"></i></span>
		</h5>
		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<Label>아이디</Label>
					<strong th:text="${#authentication.principal.user.userId}"></strong>
					<i data-bs-toggle="tooltip"
						data-bs-placement="right" title="아이디는 변경하실 수 없습니다." class="fa-solid fa-circle-question"></i>
  				</li> 
				<li class="list-group-item d-flex justify-content-between"><Label>닉네임</Label>
				<strong  th:text="${#authentication.principal.user.nickName}"></strong>
					<a type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#updateNicknameModal">수정</a>
				</li>
				<li class="list-group-item d-flex justify-content-between"><Label>전화번호</Label><strong th:text="${#authentication.principal.user.userPhone}"></strong>
				<a type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#updatePhoneModal">수정</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal fade" id="updateNicknameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateNicknameModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header justify-content-center">
        			<h1 class="modal-title fs-5" id="updateNicknameModalLabel">닉네임 변경</h1>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     	 		</div>
      			<div class="modal-body">
       				 <form th:action="@{/content/updateNickname}" method="post" name="upNickForm"
						autocomplete="off" class="needs-validation" id="update-nickname-form"
						novalidate>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon2">
							<i class="fa-solid fa-id-card"></i></span> 
							<input type="text" class="form-control" aria-label="nickname" name="nickname" id="nickname-input" data-status="no"
								aria-describedby="basic-addon2" maxlength="30" th:value="${#authentication.principal.user.nickName}">
							<span class="input-group-text" id="basic-addon2">
								<button type="button" class="check-exists-btn" id="nickname-exists">중복확인</button>
							</span>
							<div class="invalid-feedback">
     							닉네임을 확인해주세요. 
   			 				</div>
   			 				<div class="valid-feedback">
     							닉네임 변경이 가능합니다.
   			 				</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						form="update-nickname-form" id="update-nickname-btn">변경</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="updateProfilePicModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateProfilePicModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h1 class="modal-title fs-5" id="updateProfilePicModalLabel">프로필 사진 변경  <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip"
						data-bs-placement="right" title="아무 이미지 파일도 올리지 않은 채로 변경하면 온달 기본 사진이 적용됩니다."></i></h1>   
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     	 		</div>
      			<div class="modal-body">
       				 <form th:action="@{/content/updateProfilePic}" method="post" 
						autocomplete="off" id="update-profilePic-form" enctype="multipart/form-data">
						<div class="input-group mb-3">
  							<label class="input-group-text" for="profileImage"><i class="fa-solid fa-folder-open input-icon"></i></label>
  							<input type="file" class="form-control" id="profileImage" name="profileImage">
						</div>
						<div
  							id="drop-zone"
  							ondrop="dropHandler(event);"
  							ondragover="dragOverHandler(event);"
  							ondragenter="dragEnterHandler(event);">
  							<p>이미지 파일을 <i>여기에</i> 드래그하여 업로드.</p>
						</div>
			  			<div id="file-name-display" class="file-name"></div>
					</form>	
      			</div>
      			<div class="modal-footer">
        			<button type="submit" class="btn btn-primary" form="update-profilePic-form">변경</button>
        			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="modal fade" id="updatePhoneModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updatePhoneModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h1 class="modal-title fs-5" id="updatePhoneModalLabel">전화번호 변경</h1>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     	 		</div>
      			<div class="modal-body">
       				 <form th:action="@{/content/updatePhoneNum}" method="post" name="upPhoneForm"
						autocomplete="off" class="needs-validation" id="update-phone-form"
						novalidate>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon2">
							<i class="fa-solid fa-phone"></i></span> 
							<input type="text" class="form-control" aria-label="userPhone" name="userPhone" id="phone-input" data-status="no"
								aria-describedby="basic-addon2" maxlength="13" th:value="${#authentication.principal.user.userPhone}">
							<span class="input-group-text" id="basic-addon2">
								<button type="button" class="check-exists-btn" id="phonenum-exists">중복확인</button>
							</span>
							<div class="invalid-feedback">
     							전화번호를 확인해주세요.
   			 				</div>
   			 				<div class="valid-feedback">
     							전화번호 변경이 가능합니다.
   			 				</div>
						</div>
					</form>	
      			</div>
      			<div class="modal-footer">
        			<button type="submit" class="btn btn-primary" form="update-phone-form" id="update-phone-btn">변경</button>
        			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
      			</div>
    		</div>
  		</div>
	</div>
	<br>
	<div class="card info-card p-4">
		<h5 class="card-title">
			보안 정보 <span class="mypage-title-icon"><i class="fa-solid fa-lock"></i></span>
		</h5>
		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between">
					<Label>비밀번호</Label>
					<a type="button" class="btn btn-secondary btn-sm" href="mySecurity" >수정</a>
				</li>
				<li class="list-group-item d-flex justify-content-between"><Label>소셜로그인</Label>
				<strong th:if="${#authentication.principal.user.socialLoginProvider} != 'NONE'">
					<img th:src="@{/css/imgs/kakao.png}" class="img-fluid float-end" id="kakao-logo" />
				</strong>
				<strong th:if="${#authentication.principal.user.socialLoginProvider} == 'NONE'">
					<a href="#">
						<img th:src="@{/css/imgs/kakao.png}" class="img-fluid float-end grayscale" id="kakao-logo" />
					</a>
				</strong>
				</li>
			</ul>
		</div>
	</div>
	<br>
	<div class="card info-card p-4">
		<h5 class="card-title">주소 관리 <span class="mypage-title-icon"><i class="fa-solid fa-house"></i></span></h5>
		<div class="card-body">
			<div th:if="${#authentication.principal.user.userSelectedAddress == null}">
				<a href="myAddress" type="button" class="btn btn-success" id="regAddress-btn">주소 등록하러 가기</a>
			</div>
		</div>
	</div>
	<br>
	<div class="card info-card p-4">
		<h6 class="card-title">
			내가 쓴 리뷰 <a href="#" data-bs-toggle="tooltip"
				data-bs-placement="right" title="리뷰 관리"><i
				class="fa-solid fa-pen-to-square"></i></a>
		</h6>
	</div>
	<br>
	<div class="card info-card p-4"
		th:with="userRole=${#authentication.principal.user.userRole.name()}">
		<div class="reg-buttonContainer">
			<h6 class="card-title">업종</h6>
			<div class="reg-buttons">
				<!-- 라이더 등록 버튼: user 또는 owner인 경우 보여줌 -->
				<a th:href="@{/rider/register}" class="riderBtn">라이더 등록하러 가기</a>

				<!-- 라이더 홈 이동 버튼: rider 또는 all인 경우 
				<a th:if="${userRole == 'RIDER' or userRole == 'ALL'}"
					th:href="@{/rider/home}" class="riderBtn">라이더 페이지로 가기</a>-->

				<!-- 점주 등록 버튼: user 또는 rider인 경우 보여줌 -->
				<a th:href="@{/owner/register}" class="ownerBtn">점주 등록하러 가기</a>

				<!-- 점주 홈 이동 버튼: owner 또는 all인 경우 
				<a th:if="${userRole == 'OWNER' or userRole == 'ALL'}"
					th:href="@{/owner/home}" class="ownerBtn">점주 페이지로 가기</a>-->
			</div>
		</div>
	</div>
	<br>
	<div class="card info-card p-4"
		th:with="userRole=${#authentication.principal.user.userRole.name()}">
		<div class="reg-buttonContainer">
			<h6 class="card-title">역할</h6>
			<div class="reg-buttons">
				<!-- 라이더이거나 ALL인 경우: 라이더 정보 보기 -->
				<a th:if="${userRole == 'RIDER' or userRole == 'ALL'}"
					th:href="@{/rider/riderInfopage}" class="riderBtn">라이더 정보 보기</a>

				<!-- 점주이거나 ALL인 경우: 점주 정보 보기 -->
				<a th:if="${userRole == 'OWNER' or userRole == 'ALL'}"
					th:href="@{/owner/profile}" class="ownerBtn">점주 정보 보기</a>
			</div>
		</div>
	</div>
	<br>
	<div class="card info-card p-4">
		<h5 class="card-title">
			계정 관리
		</h5>
		<div class="card-body d-flex justify-content-between">
			<a href="checkMyPass" type="button" class="btn btn-danger" id="delete-account-btn">회원탈퇴</a>
			<a href="#" type="button" class="btn btn-danger" id="sns-account-unlink">소셜연동 해제</a>
		</div>
	</div>
</div>

</html>
