<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
	<script th:src="@{/js/update.js}"></script>
</head>

<div layout:fragment="content" class="container py-5">
	<div class="card info-card p-4">
		<h5 class="card-title">
			<strong th:text="${checkPassPurpose}"></strong>
		</h5>
		<div class="card-body">
			<div class="alert alert-success" id="flash-messages" role="alert" th:if="${result} == 0">
				<i class="fa-solid fa-circle-check"></i>  <strong th:text="${resultMsg}"></strong>
			</div>
			<div class="alert alert-danger" id="flash-messages" role="alert" th:if="${result} == 1">
				<i class="fa-solid fa-circle-exclamation"></i>  <strong th:text="${resultMsg}"></strong>
			</div>
			<div class="form-floating mb-3">
				<form class="form-floating" th:action="@{/checkPassword}" method="post" name="checkPasswordForm"
						autocomplete="off" id="check-password-form" onsubmit="return checkPassword();" novalidate>
					 <div class="form-floating">
  					 	<input type="password" name="password" class="form-control" id="check-pass" placeholder="비밀번호 입력" maxlength="20">
 					 	<label for="check-pass"> 비밀번호</label>
 					 	<div class="invalid-feedback">
     							비밀번호를 입력해주세요.
   			 			</div>
					 </div>
 					 <br>
				</form>
				<div class="d-flex justify-content-evenly">
		 			<button type="submit" class="btn btn-primary btn-lg"
						form="check-password-form" id="check-password-btn"><strong>확인</strong></button>
					<button type="button" class="btn btn-secondary btn-lg" id="check-password-back-btn" 
						onclick="return history.back();"><strong>뒤로가기</strong></button>	
				</div>
			</div>
		</div>
	</div>
</div>
</html>