	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/myAddress.css}" rel="stylesheet">
	<script th:src="@{/js/zipcode.js}" defer></script>
	<script th:src="@{/js/myAddress.js}" defer></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<div layout:fragment="content" class="container py-5">
	<div class="card info-card p-4">
		<h5 class="card-title">
			주소 수정
		</h5>
		<div class="card-body">
			<div class="form-floating mb-3">
				<form th:action="@{/content/updateAddress}" method="POST" name="updateAddressForm"
						autocomplete="off" id="update-address-form">
						<input type="hidden" name="_method" value="PUT" />
						<input class="form-control" type="text" name="RegAddressId" id="update-address-id" 
			  								hidden="true" th:value="${address.regAddressId}"> 
			  			<input class="form-control" type="text" name="user" id="update-address-User" hidden="true" th:value="${#authentication.principal.user}"/>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon2">
							<i class="fa-solid fa-map-location-dot"></i></span> 
							<input type="text" class="form-control" aria-label="regAddress" name="address" id="userAddress" placeholder="주소" th:value="${address.address}" readonly>
								<input type="button" onclick="regUserAddress()" value="주소 찾기" class="btn btn-warning btn">
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon2">
							<i class="fa-solid fa-house-user"></i></span> 
							<input type="text" class="form-control" aria-label="detailAddress" name="detailAddress" id="detailAddress" placeholder="상세주소" th:value="${address.detailAddress}" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon2">
							<i class="fa-solid fa-location-crosshairs"></i></span> 
							<input type="text" name="userAddressLatitude" class="form-control" id="userAddresslatitude" placeholder="위도" th:value="${address.userAddressLatitude}" readonly>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon2">
							<i class="fa-solid fa-location-crosshairs"></i></span>
							<input type="text" name="userAddressLongitude" class="form-control" id="userAddresslongitude" placeholder="경도" th:value="${address.userAddressLongitude}" readonly>
						</div>
 					 <br>
 					<div id="iframe-layer" >
						<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
					</div>			 
					<br>
 					 <button type="submit" class="btn btn-primary"
						form="update-address-form" id="update-address-btn">확인</button> 
				</form>
			</div> 
		</div>
		<br>
	</div> 
</div>

</html>