<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<meta charset="UTF-8">
	<title th:text="${store.storeName}">가게 이름</title>
	<link th:href="@{/css/index.css}" rel="stylesheet" />
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/storeMain.css}" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="content">
		<section class="store-info">
			<div class="store-image-slider">
				<div class="slides" id="slides">
					<div class="slide" th:each="img : ${storeImgs}">
						<img th:src="@{${img.imgPath}}" alt="가게 이미지">
					</div>
				</div>
				<div class="dots" id="dots">
					<span th:each="img, stat : ${storeImgs}" th:classappend="${stat.index == 0} ? 'active'" class="dot"></span>
				</div>
			</div>
			<h1 th:text="${store.storeName}">가게명</h1>
			<p th:text="${store.storeAddress}">가게주소</p>
			<p th:text="${store.storePhone}">전화번호</p>
		</section>
	
		<section class="delivery-options">
			<button class="active">배달</button>
			<button>포장</button>
		</section>
	
		<section class="menu-tabs" id="category-buttons">
			<button class="tab active" onclick="filterMenus('전체')">전체</button>
			<button class="tab" onclick="filterMenus('메인')">메인</button>
			<button class="tab" onclick="filterMenus('사이드')">사이드</button>
			<button class="tab" onclick="filterMenus('음료')">음료</button>
		</section>
	
		<section class="menu-list" id="menu-list">
			<div class="menu-card" th:each="menu : ${menus}" th:attr="data-category=${menu.menuCategory}">
				<div class="image-wrapper">
					<img th:src="@{${menu.menuImg}}" alt="메뉴 이미지" />
				</div>
				<div class="menu-info">
					<h3 th:text="${menu.menuName}">메뉴명</h3>
					<p th:text="${menu.description}">메뉴 설명</p>
					<p th:text="${menu.price} + '원'">가격</p>
					<span th:if="${menu.menuStatus == 'SOLD_OUT'}" class="soldout">품절</span>
				</div>
			</div>
		</section>
	</div>
	<div layout:fragment="js">
		<script th:src="@{/js/index.js}"></script>
		<script th:src="@{/js/storeMain.js}"></script>
	</div>
</body>
</html>