<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<link th:fragment="css" th:href="@{/css/index.css}" rel="stylesheet"/>
	<link th:fragment="css" th:href="@{/css/custom.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/storeRegSubmit.css}">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=0888431cff1af50a88706bb2bd8773bc&libraries=services"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="form-container">
			<h1>가입성공</h1>
		</div>
	
	</div>
	<div layout:fragment="js">
		<script src="/js/storeReg.js"></script>
		<script src="/js/hideLogo.js"></script>
	</div>
</body>
</html>