<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/Layouts}">
<head>
	<link th:fragment="css" th:href="@{/css/index.css}" rel="stylesheet"/>
	<link th:fragment="css" th:href="@{/css/ownerCustom.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/storeReg.css}">
</head>
	<div layout:fragment="content">
		<div class="trial-banner">
			<p class="subtitle">온라인 입점하세요</p>
			<h1 class="highlight-text"><strong>30일간</strong> <span>중개이용료 0원!</span></h1>
			<div class="btn-group">
				<button class="btn online" onclick="location.href='@{/storeReg/submit}'">온라인 입점 후 무료체험</button>
			</div>
		</div>
	</div>
</html>