<!--resources/templates/fragments/footer.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://kit.fontawesome.com/20dab02d7e.js" crossorigin="anonymous"></script>
</head>
<div th:fragment="footer">
	<footer class="py-3 my-4">
		<p class="text-center text-body-secondary">
			<a href="#" class="footer-sns-link"><i class="fa-brands fa-facebook-f fa-2x"></i></a> 
			<a href="#" class="footer-sns-link"><i class="fa-brands fa-instagram fa-2x"></i></a> 
			<a href="#" class="footer-sns-link"><i class="fa-brands fa-youtube fa-2x"></i></a>
		</p>
		<p class="text-center text-body-secondary">
			<span>(주) 평강공주의남자들</span> <br> <span>서울 강남구 봉은사로 119 성옥빌딩
				6층</span>
		</p>
		<p class="text-center text-body-secondary">
			<span>사업자번호 : 123-45-67890</span> <br> <span>TEL :
				02-1234-5678</span> <br> <span>FAX : 02-9999-8888</span>
		</p>
	</footer>
</div>
</html>


