<!--resources/templates/fragments/header.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script th:fragment="js" th:src="@{/js/index.js}"></script>
	<link th:fragment="css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>	
	
    <div th:fragment="header">
    <nav class="navbar navbar-light" style="background-color: #ffc107;">
    	<div class="container-md justify-content-between">
	    	<a class="navbar-brand" href="#" >
	      		<img src="/css/imgs/ondal_text.png" alt="" width="30" height="30" class="img-fluid">
	    	</a>
	    	<a class="btn btn-warning btn-lg" data-bs-toggle="offcanvas" href="#menu-list" role="button" aria-controls="menu-list" style="background-color: #ffc107;">
	  			<i class="fa-solid fa-bars"></i>
			</a>
    	</div>
    	<div class="container-fluid">
		</div>
    </nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="menu-list" aria-labelledby="menu-label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="menu-label"><img src="/css/imgs/ondal_text.png" alt="" width="30" height="30" class="img-fluid"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <a href="/login">로그인  <i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link" aria-current="page" href="#">주소 선택</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" href="#">찜 목록</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" href="#">주문 내역</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">마이페이지</a>
	  	</li>
	</ul>
 
  </div>
</div>
    </div>
</html>