@charset "UTF-8";

@font-face {
	font-family: "acloud";
	src: url(acloud.ttf);
}

@font-face {
	font-family: "siwol";
	src: url('siwol.ttf');
}

@font-face {
	font-family: "taebaek";
	src: url('taebaek.ttf');
}

body {
	font-family: "siwol";
	text-align: center;
}

.imgs {
	width: 150px;
	height: 150px;
}

/* .img-fluid:hover {
	transform: translate(2px, 2px);
}  */

a .img-fluid:hover {
	animation: pop 0.2s linear 1;
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}

.col a {
	text-decoration: none;
	color:black;
}

.col a:hover {
	color: #ffc107;
}

.category-label {
  font-size: 2vw; 
  font-weight: 900;
}

@media (max-width: 1200px) {
  .category-label {
    font-size: 2vw;
  }
}

@media (max-width: 992px) {
  .category-label {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .category-label {
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  .category-label {
    font-size:calc(1rem - 1vw); 
  }
} 

.gallery-container {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(5, 1fr);
	max-width: 70%;
	margin: auto;
	background-color: white;
}

.gallery-container div {
	position: relative;
}

.gallery-container .labels {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	
	color: white;
	font-size: 2.5vw;
	font-weight: bold;
	text-decoration: none;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	opacity: 0;
	transition: opacity 0.5s;
}

.gallery-container .labels:hover {
	opacity: 1;
	cursor: pointer;
}

.gallery-container img {
	width: 100%;
	height: 100%;
}

.gallery-container img:hover {
	outline: grey solid 10px;
}

a:link {
    text-decoration: none;
}


.search-box {
	position: relative;
	display: flex;
	/* input + icon 나란히 */
	align-items: center;
	height: 50px;
	/* 기본 높이 */
	min-width: 320px;
	background: #fff;
	border: 3px solid #ffc107;
	border-radius: 5px;
	padding: 10px;
	transition: height .25s ease;
	transform-origin: top;
	z-index: 4;
	flex-direction: row;
	overflow: hidden
}


#inp-search:focus{
	
	border: none;
	outline: none;
	box-shadow: none;
	
	
}



#btn-search{
	z-index: 5;
	width: 48px;
	height: 100%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}



#search-box-container {
  position: relative;
}

#list-autocomplete {
  border-top: none;
  transition: border-color 0.3s ease, opacity 0.3s ease;
  border-radius: 0 0 8px 8px;
  margin-top: -5px; /* input과 딱 붙게 */
  position: relative;
  background-color: transparent;
  overflow-y: auto;

}



#list-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 3px solid #ffc107;
  border-top: none;
  border-radius: 0 0 8px 8px;
  max-height: 0%;
  overflow-y: auto;
  overflow: hidden;
  transition: max-height 0.8s ease;
}
#search-box:focus-within #list-wrapper {
  	display: flex;
	max-height: 220px !important; /* ul 예상 높이 만큼 */
}


