@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container { /* 회원가입 */
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #343a40;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
    color: #495057;
}

form input {
    box-sizing: border-box;
    padding: 10px;
}

.title-and-error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.title-and-error h1 {
    margin: 0;
}

.error-message {
    color: red;
    font-size: 16px;
}

.password-group {
    position: relative;
}

.password-group input[type="password"],
.password-group input[type="text"] {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.address-group {
  position: relative;
}

.address-group input {
  padding-right: 90px; /* 버튼 들어갈 공간 */
}

.address-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  font-size: 12px;
  padding: 0 10px;
  background-color: #ffc107;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.address-btn:hover {
  background-color: #e0a800;
}

.reg-btn {
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.reg-btn:hover {
    background-color: #D39E00;
}
