@charset "UTF-8";

body {
/*    font-family: Arial, sans-serif;*/
    background-color: #f8f9fa;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 30px auto;
	text-align: start;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #343a40;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffc107;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 35px;
}

.custom-file-label:hover {
  background-color: #d39e00;
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
    color: #495057;
}

form input {
    box-sizing: border-box;
    padding: 10px;
}

.title-and-error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.title-and-error h1 {
    margin: 0;
}

.error-message {
    color: red;
    font-size: 16px;
}

.password-group {
    position: relative;
}

.password-group input[type="password"],
.password-group input[type="text"] {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.address-group {
	position: relative;
}

.address-group input {
	padding-right: 90px; /* 버튼 들어갈 공간 */
}

.address-btn {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	height: 30px;
	font-size: 12px;
	padding: 0 10px;
	background-color: #ffc107;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}

.address-btn:hover {
	background-color: #e0a800;
}

.reg-btn {
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.reg-btn:hover {
    background-color: #D39E00;
}

.email-group {
	display: flex;
	align-items: center;
	gap: 5px;
	position: relative;
}

.email-group input[type="text"] {
	height: 40px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: #495057;
}

#email_domain_input {
	width: 100px;
	padding: 0 10px;
}

#email_domain_select {
	width: 100px;
}

.email-group select {
	height: 40px;
	font-size: 16px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	appearance: none;
	box-sizing: border-box;
	color: #495057;
	cursor: pointer;
}

.email-group select:focus {
	border-color: #66afe9;
	outline: none;
}

.email-group select:hover {
	background-color: #f1f1f1;
}

.email-group select::-ms-expand {
	display: none;
}

.email-at {
	font-size: 16px;
	color: #333;
}

.verification-group {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.verification-group input {
  flex: 2;
}

.verification-group button {
  background-color: #ffc107;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 13.3px;
}

.verification-group button:hover {
  background-color: #e0a800;
}

.verification-success {
  font-weight: bold;
  color: red;
  margin-bottom: 12px;
  margin-right: 20px;
  text-align: right;
  font-size: 16px;
}