/* 리뷰 카드 */
.card {
	border:none;
	box-shadow: null;	
}

/* 달점 */
.rating {
    float: left;
}

.rating span {
    font-size: 30px;
    cursor: pointer;
    float: right;
    color: gray;
}

.rating span:hover, .rating span:hover ~ span{
    color: #ffe766;
}

.rating .selected {
	color: #ffe766;
}

.my-rating {
	float: left;
}

.my-rating span {
	font-size: 16px;
	float: right;
	color: gray;
}

.my-rating .selected {
	color: #ffe766;
}

/* text input 관련 */
#review-content {
	resize: none;
	height: 230px;
}

#show-word-count {
	font-size: 12px;
	color: #667EFF;
}

/* file input 관련 */
#file-count {
	font-size: 12px;
	color: #667EFF;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 3px solid #667EFF;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 70%;
  text-align: center;
  color: #667EFF;
}

.custom-file-upload:hover {
	background-color: #667EFF;
	color: white;
}

/* 삭제, 수정 버튼 */
.delete-review-btn {
	border: none;
	background-color: transparent;
	color: white;
}

.update-review-btn {
	border: none;
	background-color: transparent;
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

/* 메뉴 뱃지 */
.menu-badge {
	color: black;
	border-radius: 20px;
	background-color: none;
	border: #E0E0E0 solid 2px;
} 

/* 리뷰 내용 */
.review-header {
	font-size: 18px;
	font-style: italic; 
	border: none;
	background-color: transparent;
} 

.review-header-footer {
	font-size: 12px;
}

.headers {
	padding: 0px;
}

.review-img-preview {
	height: 150px;
}

.order-time {
	font-size: 12px;
}

#review-store-name {
	font-size: 2rem;
}

#reg-review-form-btn {
	font-size: 1rem;
}

#review-footer-list li{
	font-size: 0.7rem;
	color: gray;
}

.icon-link {
	text-decoration: none;
	color: black;
}

/* 모달 (팝업) */
.carousel-control-prev-icon {
	background-color: rgba(0, 0, 0, 0.4);
}

.carousel-control-next-icon {
	background-color: rgba(0, 0, 0, 0.4);
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.4);
}

.review-carousel-img {
	width: 100%;
	height: 500px;
	object-fit: fill;
	object-position: center;
}

.btn-close {
	top: 10px; 
	right: 10px; 
	z-index: 1050;
	font-size: 1.5em;
	background-color: rgba(255, 255, 255, 0.5);
}
