.close-btn {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 22px;
	cursor: pointer;
}

.option-group {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	gap: 8px;
	align-items: center;
	margin-top: 10px;
}

.category-manage-btn {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

#category-buttons {
	display: flex;
	gap: 8px;
}

.manage-category-btn {
	margin-left: auto;
	background-color: #eee;
}

#categoryList ul {
	padding: 0;
}

#categoryList li input.category-input {
	flex: 1;
	padding: 5px;
	min-width: 100px;
}
#categoryList li button {
	padding: 5px 10px;
}

.category-input + button {
	margin-left: 5px;
}


