<div>
    <h4>점주 / 라이더 승인</h4>
	<div class="fst-container">
		<h5 style="margin: 0 0 16px 0">점주 신청 승인</h5>
		<table class="user-table">
			<thead class="table-light">
				<tr>
					<th style="width: 13%">가입일</th>
					<th>아이디</th>
					<th style="width: 13%">이름</th>
					<th style="width: 13%">닉네임</th>
					<th style="width: 13%">유저구분</th>
					<th style="width: 14%">유저상태</th>
					<th style="width: 12%">관리</th>
				</tr>
			</thead>
			<tbody id="owner-request-list"></tbody>
		</table>
	
		<!-- 라이더 승인 테이블 -->
		<h5>라이더 신청 승인</h5>
		<table class="user-table">
			<thead class="table-light">
				<tr>
					<th style="width: 13%">가입일</th>
					<th>아이디</th>
					<th style="width: 13%">이름</th>
					<th style="width: 13%">닉네임</th>
					<th style="width: 13%">유저구분</th>
					<th style="width: 14%">유저상태</th>
					<th style="width: 12%">관리</th>
				</tr>
			</thead>
			<tbody id="rider-request-list"></tbody>
		</table>
	</div>

</div>